* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(56, 56, 56);
}

div.wrapper {
  width: 95vw;
  margin: 2.5vh auto;
  min-height: 95vh;
  background-color: rgb(36, 34, 34);
  border-radius: 15px;
  box-shadow: 2px 7px 5px 0px black;
}

h1.name {
  text-align: center;
  padding: 5vh;
  font-size: 70px;
  color: white;
  text-shadow: 4px 4px 0px black;
  letter-spacing: 1px;
}

p.time {
  text-align: center;
  font-size: 90px;
  color: rgb(220, 50, 50);
}

p.time span {
  font-size: 60px;
}

nav.menu {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

nav.menu div {
  position: relative;
  width: 180px;
  height: 80px;
  border: 2px solid rgb(143, 26, 26);
  color: #aaa;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

nav.menu div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
}

nav.menu div:hover {
  background-color: rgb(143, 26, 26);
  color: #fff;
}

section.rounds {
  margin: 50px auto 0 auto;
  padding: 0 40px 40px 40px;
}

section.rounds ul {
  font-size: 40px;
  color: white;
}

section.rounds ul li {
  list-style: none;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
}

section.rounds ul li:nth-child(even) {
  color: rgb(220, 50, 50);
}

@media (max-width: 1366px) {
  h1.name {
    font-size: 60px;
  }

  p.time {
    font-size: 60px;
  }

  p.time span {
    font-size: 40px;
  }

  nav.menu div {
    width: 160px;
    height: 70px;
  }

  nav.menu div i {
    font-size: 35px;
  }

  section.rounds ul {
    font-size: 30px;
  }

  section.rounds ul li {
    padding: 5px;
  }
}

@media (max-width: 1024px) {
  nav.menu div {
    width: 140px;
    height: 60px;
  }

  nav.menu div i {
    font-size: 30px;
  }

  section.rounds ul {
    font-size: 27px;
  }
}

@media (orientation: portrait) and (max-width: 375px) {
  p.time {
    padding-top: 25px;
    font-size: 70px;
  }

  p.time span {
    font-size: 45px;
  }

  nav.menu {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
    background-color: green;
    padding: 20px;
  }

  nav.menu div {
    width: 40vw;
    padding: 30px;
    border: 2px solid rgb(143, 26, 26);
    color: #aaa;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  nav.menu div i {
    font-size: 30px;
  }

  nav.menu div:hover {
    background-color: rgb(143, 26, 26);
    color: #fff;
  }
}
